<div class="entity-editor__field-group">
  <div class="entity-editor__field-locale">
    <div class="entity-editor__field-heading">
      Field title (required)
    </div>
    <div class="entity-editor__control-group">
      <div class="entity-editor__control-group">
        <div class="entity-editor__control">
          <div>
            <div class="entry-editor__input-group">
              <input type="text" aria-invalid="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
